name: Dot net framework build and publish

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: 
    inputs:
      dotnetFramework: 
        description: "Target .NET Framework (net62 | net472 | net48)"
        required: true
        default: "net48"
  

jobs:
  build:
    runs-on: self-hosted
    env:
      DOTNET_FRAMEWORK: ${{ inputs.dotnetFramework }}
      CONFIGURATION: Release
      PUBLISH_DIR: 'publish\net48'

    steps:
    - name: Checkout Source
      uses: actions/checkout@v4
    - name: Add MSBuild to Path
      uses: microsoft/setup-msbuild@v2
      with:
        vs-version: '16.11'
    - uses: nuget/setup-nuget@v2
      with:
        #nuget-api-key: ${{ secrets.NuGetAPIKey }}
        nuget-version: '5.x'
    - name: Restore dependencies
      run: nuget restore SSSApp/SSSApp.sln
    - name: MSBuild Publish
      run: |
        echo "msbuild SSSApp/SSSApp.csproj /p:Configuration=${{ env.CONFIGURATION }} /p:TargetFramework=${{ env.DOTNET_FRAMEWORK }} /p:DeployOnBuild=true /p:WebPublishMethod=FileSystem /p:PublishDir=${{ env.PUBLISH_DIR }} /m"
        msbuild SSSApp/SSSApp.csproj /p:Configuration=${{ env.CONFIGURATION }} /p:TargetFramework=${{ env.DOTNET_FRAMEWORK }} /p:DeployOnBuild=true /p:WebPublishMethod=FileSystem /p:PublishDir=${{ env.PUBLISH_DIR }} /m
    - name: Upload Publish Artifact
      uses: actions/upload-artifact@v4
      with:
        name: app-publish-net48
        path: ${{ env.PUBLISH_DIR }}
  
  deploy:
    name: Deploy (Approval Required)
    needs: build
    runs-on: self-hosted
    environment:
      name: production
    env:
      DOTNET_FRAMEWORK: ${{ inputs.dotnetFramework }}
      DEPLOY_PATH: C:\websites\SSSApp.com\wwwroot

    steps:
    - name: Download Publish Artifact
      uses: actions/download-artifact@v4
      with:
        name: app-publish-${{ env.DOTNET_FRAMEWORK }}
        path: deploy
    - name: Deploy application to IISRoot
      shell: powershell
      run: |
        Copy-Item -Path "deploy\*" -Destination "$env:DEPLOY_PATH" -Recurse -Force
